*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home{
    width:1152px;
    height: 2041px;
    margin:auto;
}
.navbar{
    display: flex;
    justify-content: end;
    padding-right: 50px;
}
.navbar_img{
    display: none;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width:250px;
}
li{
    font-size: 20px;
    line-height: 29.38px;
    color:rgba(0,0,0,1);
}
.header{
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}
.header1{
    width:70%;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
}
.header_h1{
    font-family: Arial, Helvetica, sans-serif;
    width:506px;
    height:105px;
    font-size: 44px;
    line-height: 60px;
    color: rgba(33,36,61,1);
}
.header_p{
    width:497px;
    height:66px;
    font-size: 16px;
    line-height: 23.5px;
    color: rgba(33,36,61,1);
    margin-top: 30px;
    margin-bottom: 30px;
}
.header_button{
    width:208px;
    height:47px;
    border-radius: 2px;
    background-color: rgba(255, 100, 100,1);
    color:rgb(255,255,255,1);
}
.header2{
    text-align: center;
}
.header_img{
    border-radius: 50%;
    border-bottom: 5px solid rgb(187, 203, 229);
    border-left: 5px solid rgb(187, 203, 229);
}
.recent_posts{
    width:1152px;
    height:396px;
    background-color: rgba(237,247,250,1);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.recent_posts_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:866px;
}
.post_left{
    width:129px;
    height:60px;
    font-size: 22px;
    line-height: 60px;
    color:rgba(33,36,61,1);
}
.post_right{
    width:208px;
    height:20px;
    font-size: 16px;
    line-height: 23.5px;
    text-align: right;
    color:rgba(0,168,204,1);
}
.recent_posts_body{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.post_body_left{
    width:418px;
    height:295px;
    border-radius: 4px;
    background-color: rgba(255,255,255,1);
    padding-left: 20px;
}
.post_body_right{
    width:418px;
    height:295px;
    border-radius: 4px;
    background-color: rgba(255,255,255,1);
    padding-left: 20px;
}
.post_h3{
    width:374px;
    height:85px;
    font-size: 26px;
    line-height: 38.19px;
    color:rgba(33,36,61,1);
}
.post_date{
    display: flex;
    flex-direction: row;
    width:374px;
    height:34px;
    font-size: 18px;
    line-height: 26.44px;
    color:rgba(33,36,61,1);
}
.date_day{
    border-right: 2px solid black;
    padding-right: 20px;
}
.date_text{
    padding-left:20px;
}
.post_text{
    width:368px;
    height:117px;
    font-size: 16px;
    line-height: 23.5px;
    color:rgba(33,36,61,1);
}
.feature_works{
    padding-left: 150px;

    display:flex;
    flex-direction: column;
    padding-top: 30px;
}
.works_top{
    width:152px;
    height:60px;
    font-size: 22px;
    color:rgba(33,36,61,1);
}
.works_body{
    
    display:flex;
    flex-direction: column;
    gap:20px
}
.works_img{
    border-bottom: 1px solid rgba(224,224,224,1);
    display:flex;
    flex-direction: row;
    
}
.works_text{
    padding-left: 10px;
}
.works_h3{
    width:400px;
    height:44px;
    font-size: 30px;
    line-height: 44.06px;
    color:rgba(33,36,61,1);
}
.works_date{
    display: flex;
    flex-direction: row;
    height:60px;
}
.works_day{
    width:62px;
    height:25px;
    border-radius: 16px;
    background-color: rgba(20,40,80,1);
    color:white;
    text-align: center;
    padding-top: 3px;
}
.day_text{
    width:374px;
    height:34px;
    font-size: 20px;
    line-height: 29.38px;
    color:rgba(134,149,164,1);
    padding-left: 20px;
}
.footer{
    width:1152px;
    height:182px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_img{
    width:250px;
    display:flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
@media screen and (max-width: 768px){

    .home{
        width:375px;
        height:2165px;
    }
    ul{
        display: none;
    }
    .navbar_img{
        display: flex;
        justify-content: end;
        padding-top: 30px;
    }
    .header{
        width:100%;
        height:750px;
        display: flex;
        flex-direction: column;
        padding-top: 200px;
        padding-bottom: 100px;
        position: relative;
    }
    .header1{
        width:100%;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        text-align: center;
        position: absolute;
        top:400px;
    }
    .header_h1{
        font-family: Arial, Helvetica, sans-serif;
        width:312px;
        height:120px;
        font-size: 32px;
        line-height: 40px;
        color: rgba(33,36,61,1);
        
    }
    .header_p{
        width:328px;
        height:96px;
        font-size: 16px;
        line-height: 23.5px;
        color: rgba(33,36,61,1);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header_button{
        width:208px;
        height:47px;
        border-radius: 2px;
        background-color: rgba(255, 100, 100,1);
        color:rgb(255,255,255,1);
        margin-left: 50px;
    }
    .header_img{
        border-radius: 50%;
        border-bottom: 5px solid rgb(187, 203, 229);
        border-left: 5px solid rgb(187, 203, 229);
        position: absolute;
        top:83px;
        left:50px;
    }
    .recent_posts{
        width:375px;
        height:647px;
        background-color: rgba(237,247,250,1);
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .recent_posts_top{
        text-align: center;
        width:100%;
    }
    .post_left{
        width:129px;
        height:60px;
        font-size: 22px;
        line-height: 60px;
        color:rgba(33,36,61,1);
    }
    .post_right{
        display: none;
    }
    .recent_posts_body{
        display: flex;
        flex-direction:column;
        gap:30px;
    }
    .post_body_left{
        width:354px;
        height:266px;
        border-radius: 4px;
        background-color: rgba(255,255,255,1);
        padding-left: 20px;
        
    }
    .post_body_right{
        width:354px;
        height:266px;
        border-radius: 4px;
        background-color: rgba(255,255,255,1);
        padding-left: 20px;
    }
    .post_h3{
        width:327px;
        height:60px;
        font-size: 26px;
        line-height: 30px;
        color:rgba(33,36,61,1);
    }
    .post_date{
        display: flex;
        flex-direction: row;
        width:374px;
        height:34px;
        font-size: 18px;
        line-height: 26.44px;
        color:rgba(33,36,61,1);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .date_day{
        border-right: 2px solid black;
        padding-right: 20px;
    }
    .date_text{
        padding-left:20px;
    }
    .post_text{
        padding-top: 20px;
        width:314px;
        height:117px;
        font-size: 16px;
        line-height: 23.5px;
        color:rgba(33,36,61,1);
    }
    .feature_works{
        padding-left: 0px;
    
        display:flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .works_top{
        width:100%;
        height:60px;
        font-size: 18px;
        line-height: 60px;
        color:rgba(33,36,61,1);
        text-align: center;
    }
    .works_body{ 
        display:flex;
        flex-direction: column;
        gap:20px
        
    }
    .works_img{
        border-bottom: 1px solid rgba(224,224,224,1);
        display:flex;
        flex-direction:column;
        padding-left: 20px;
    }
    .works_text{
        padding-left: 10px;
    }
    .works_h3{
        width:400px;
        height:44px;
        font-size: 30px;
        line-height: 44.06px;
        color:rgba(33,36,61,1);
    }
    .works_date{
        display: flex;
        flex-direction: row;
        height:60px;
    }
    .works_day{
        width:62px;
        height:25px;
        border-radius: 16px;
        background-color: rgba(20,40,80,1);
        color:white;
        text-align: center;
        padding-top: 3px;
    }
    .day_text{
        width:374px;
        height:34px;
        font-size: 20px;
        line-height: 29.38px;
        color:rgba(134,149,164,1);
        padding-left: 20px;
    }
    #img_01{
        width:339px;
        height: 230px;
    }
    #img_0{
        width:344px;
        height:455px;
    }
    #img_1{
        display: none;
    }
    #img_2{
        display: none;
    }
    .footer{
        width:375px;
        height:182px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_img{
        width:250px;
        display:flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}